<div class="left">
    <div class="container">
      <br />
      <br />
      <div class="logo">
         <h1 class="header">Map Addressing</h1>
      </div>
     
      <mat-tab-group mat-align-tabs="end">
  
        <mat-tab label="Home"> 
          <div class="content Homecontents">
            <h2 class="header">Get Address</h2>
            his is the information inside the home tag 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam reiciendis officia quibusdam, consectetur sequi nemo, autem adipisci unde tenetur libero temporibus repudiandae, iusto voluptates. Aliquid at ullam labore consectetur inventore.
            <ul>
              <li> lorem </li>
              <li> ipsum</li>
              <li> sit</li>
              <li> amet</li>
            </ul>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque tenetur, sit deleniti veritatis mollitia provident totam obcaecati aut maiores accusantium ipsa corrupti deserunt optio dolorem asperiores quas dicta nobis rerum!
            </div>
            <br />
            <h2 class="header">Search Address</h2>
            his is the information inside the home tag 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam reiciendis officia quibusdam, consectetur sequi nemo, autem adipisci unde tenetur libero temporibus repudiandae, iusto voluptates. Aliquid at ullam labore consectetur inventore.
           
            <!-- <button mat-icon-button aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button> -->
          </div>
        </mat-tab>
  
  
  
        <mat-tab label="Get Address">
          <div class="content">
              <h3>Address Category</h3>
              
            <div class="tag-slider">
              <tags> </tags>
              <tags> </tags>
              <tags> </tags>
              <tags> </tags>
              <tags> </tags>
              <tags> </tags>
              <tags> </tags>
            </div>
              
          <br />
          <br />     
             <h3>Floor Level</h3>
            <section class="floor-level">
            <br />
                <mat-radio-group [(ngModel)]="labelPosition">
                  <mat-radio-button class="example-margin" (click)="floor_level()" value="after">Single Floor Building</mat-radio-button>
                  <mat-radio-button class="example-margin" (click)="floor_level()" value="before">Multi Floor Building</mat-radio-button>
                </mat-radio-group>
            </section>
            <br />
            <br />
            <br />
          
          <div class="content get_Address">
            <h3> Fill the information below</h3>
            <stepper *ngIf="single_floor"> </stepper>
            <div *ngIf="!single_floor"> Single Floor Appartment 

                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                      <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Fill your buildings floor Level</ng-template>
                        <mat-form-field>
                          <mat-label>Floor Number</mat-label>
                          <input matInput placeholder="Floor Number" formControlName="firstCtrl" >
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>

                    <mat-step>  
                        <ng-template matStepLabel>Turn On your GPS</ng-template>
                        <br />
                            <button mat-raised-button color="primary">Get My Location</button>
                         <br />
                         <br />
                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                
                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button >Get Address</button>
                      </div>
                    </mat-step>
                  </mat-vertical-stepper>
                
            </div>
          </div>
        </div>
      
        </mat-tab>
  
        <mat-tab label="Find Address"> 
          <div class="content find_address">
            <h2>Search Address</h2>
            Enter the address name to search for
            <br />
            <br />
            <mat-form-field appearance="fill">
                <mat-label>Enter Address</mat-label>
                <input matInput>
            </mat-form-field>
          </div>
          <br />
          
        </mat-tab>
  
      </mat-tab-group>
     
    </div>
  
  </div>
  <div class="right"  #mapContainer id="map"> 
   <!-- <iframe
    [src]="mapUrl | safe"  width="500" height="400"
  >  -->
  
  
  </div>
  