.left{
    width: 35%;
    min-width: 550px;
    /* background-color:rgb(43, 118, 231); */
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
}
.right{
    width: 60%;
    background-color:purple;
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
}

.logo{
    padding-left: 15px;
}

.logo h2{
    padding-bottom: 0;
    font-family: 'Lato' !important;
    /* background-color:red */
}

.content{
    padding-top: 10px;
    /* background-color:red; */
    width: 90%;
    margin: 0 auto;

}

.tag-slider{
    width: 100%;
    margin-right: 0px;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 16px;

}

    .floor-level{
        position: relative;
        width: 80%;
        margin-left: 30px;
    }

mat-radio-group {
    position: relative;
    right: 25px;
    color: black;
    display: flex;
    justify-content:space-between;
    width: 90%;
  }

  .header{
    font-family: 'Lato';
  }
  
  