<div class="reveal">

    <div class="slides">
  
      <section class="first_section">
          <h1 class="wow zoomIn" style="animation-duration:1s"  > Home Addressing</h1>
          <h3 class="wow bounceInUp" style="animation-duration:3s" > 
              <br />
              Get and Find Home addresses with just a few clicks
          </h3>
      </section>
  
      <section class="second_section">
          <h1 class="wow slideInRight" style="animation-delay: 5s"> Get Home Address</h1>
          <br />
          <h3 data-aos="fade-left"> Get Home addresses with just a few clicks</h3>
      </section>
  
      <section class="thired_section">
          <h1 class="wow rotateInDownRight" style="animation-delay: 9s"> Find Addresses</h1>
          <br />
          <h3 class="wow flipInX" style="animation-delay: 10s"> Find Home addresses with just a few clicks</h3>
          <br />
          <button class="wow slideInRight get-Started" style="animation-delay: 9s" [routerLink]="['/address']" routerLinkActive="router-link-active"> Get Started </button>
      </section>
    </div>
  
  </div>
 