.left{
    width: 35%;
    /* background-color:rgb(43, 118, 231); */
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    min-width: 550px;
}
.right{
    width: 65%;
    background-color:purple;
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
}

.logo{
    padding-left: 15px;
}

.logo h2{
    padding-bottom: 0;
    /* background-color:red */
}

.content{
    padding-top: 10px;
    /* background-color:red; */
    width: 90%;
    margin: 0 auto;

}